body {
    padding: 0;
    margin: 0;
    background-image: url(../images/1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.no{
    background-image:none;
}

* {
    font-family: 'Comic Sans MS';
    transition: 1s ease-in-out all;
    font-size: 20px;
}

header {
    background: rgba(0, 0, 0, 0.65);
    position: fixed;
    width: 100%;
    z-index: 6;
    top: 0;
}

    header ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        header ul li {
            display: inline-block;
            margin: 10px 5px 10px;
            padding: 10px;
            font-size: 20px;
}
li a {
    color: white;
}

.search {
    margin-top: 15px;
    float: right;
}

input[type="search"]:hover {
    background: #2f2f2f;
}

input[type="search"] {
    width: 100%;
    height: 30px;
}

.home {
    font-size: 30px;
}

    .home:hover {
        background: rgba(255, 106, 0, 0.80)
    }

li form, li a {
    display: inline-block;
    text-decoration: none;
}

div {
    position: fixed;
    z-index: 2;
    top: 100px;
}

    div ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

.Flights, .Airporttaxis, .CarRentals {
    padding: 10px;
    margin-left: -144px;
    width: 160px;
    border-radius: 5px;
    font-size: 17px;
}

    .Flights:hover, .Airporttaxis:hover, .CarRentals:hover {
        margin-left: 0;
        text-decoration:none
    }

.Flights {
    background: rgba(255, 106, 0, 0.80)
}

.Airporttaxis {
    background: rgba(255, 149, 73, 0.80)
}

.CarRentals {
    background: rgba(254, 182, 131, 0.80)
}

.big {
    background: rgba(255, 255, 255, 0.35);
    margin-top: 100px;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-bottom: 20px;
}

.art1 {
    top: 90px;
    padding: 30px;
    color: #4cff00;
    text-align: center;
}

.p1 {
    color: #2f2f2f;
    font-size: 40px;
}



.p3 {
    text-align: center;
    font-size: 40px;
}

.sec3 form {
    text-align: center;
}

    .sec3 form input[type="text"] {
        width: 90%;
        height: 40px;
        margin: 15px;
        background: rgba(47, 47, 47, 0.85);
        border-radius: 6px;
        color: #ffffff;
    }

    .sec3 form input[type="datetime-local"] {
        width: 60%;
        height: 40px;
        margin: 15px;
        background: rgba(47, 47, 47, 0.85);
        border-radius: 6px;
        color: #ffffff;
    }

input[type="submit"] {
    width: 10%;
    height: 40px;
    margin: 15px;
    background: rgb(225, 133, 67);
    border-radius: 6px;
    color: #ffffff;
}


form section {
    display: block;
}

.sec3 form input:hover {
    background: #2f2f2f;
}

.art4 {
    background: rgba(255, 255, 255, 0.35);
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    padding-bottom: 10px;
}

    .art4 form input {
        width: 50%;
        height: 40px;
        margin: 10px;
        background: white;
    }

    .art4 section input {
        width: 40%
    }

.p4 {
    text-align: center;
    font-size: 40px;
    color: #f7f2f2;
    margin-top: 100px;
}

.art5 {
    width: 56%;
    background: white;
    text-align: center;
    margin-left: 20%;
    margin-bottom: 20px;
    padding: 30px;
    border: 2px ridge rgb(186, 92, 25);
    border-radius: 10px;
}

img {
    border-radius: 100px;
    width: 100px;
    margin: 10px;
}

.form1 {
    margin: 20px;
}

    .form1 input[type="number"] {
        width: 150px;
        margin: 20px 10px;
        height: 40px;
    }

    .form1 select {
        width: 150px;
        margin: 20px 10px;
        height: 45px;
    }

select:hover {
    background: #2f2f2f;
}

.secf {
    display: block;
    margin: 20px;
}

.form1 input[type="datetime-local"] {
    height: 40px;
    width: 300px;
}

.form1 input[type="text"] {
    margin: 20px 10px;
    height: 40px;
    width: 200px;
}

input:hover {
    background: #2f2f2f;
}

.img1 {
    border-radius: 100px;
}

    .img1:hover {
        border-radius: 5px;
        width: 150px;
    }

.h3 {
    color: rgb(107, 99, 94);
}

.form2 input[type="text"] {
    width: 200px;
    height: 40px;
    margin: 20px 10px;
}

.form2 input[type="date"], .form2 input[type="time"] {
    width: 200px;
    height: 40px;
    margin: 20px 10px;
}

.form2 input[type="number"] {
    width: 150px;
    margin: 20px 10px;
    height: 40px;
}

footer {
    text-align: center;
    background: rgba(0, 0, 0, 0.65);
    font-size: 20px;
    padding: 10px 0;
    color: white;
}


/**/
.fan {
    animation: return .4s infinite;
    margin-left:1400px;
    position:fixed;
    margin-top:-20px;
}

@keyframes return {
    0% {
        transform: rotate(0deg);
        content: url(../images/fan1.png)
    }

    10% {
        transform: rotate(36deg);
        content: url(../images/fan1.png)
    }

    20% {
        transform: rotate(72deg);
        content: url(../images/fan2.png)
    }

    30% {
        transform: rotate(108deg);
        content: url(../images/fan2.png)
    }

    40% {
        transform: rotate(144deg);
        content: url(../images/fan3.png)
    }

    50% {
        transform: rotate(180deg);
        content: url(../images/fan3.png)
    }

    60% {
        transform: rotate(216deg);
        content: url(../images/fan4.png)
    }

    70% {
        transform: rotate(252deg);
        content: url(../images/fan4.png)
    }

    80% {
        transform: rotate(288deg);
        content: url(../images/fan5.png)
    }

    90% {
        transform: rotate(324deg);
        content: url(../images/fan5.png)
    }

    100% {
        transform: rotate(360deg);
        content: url(../images/fan1.png)
    }
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    text-align:center;
    padding:20px;
    border-radius:5px;
    margin-left:20%;
}
.alert-success hr {
  border-top-color: #b1dfbb;
}
.button {
    width: 20%;
    height: 40px;
    margin: 15px;
    background: rgb(225, 133, 67);
    border-radius: 6px;
    padding:10px
}

.button:hover {
    background: #2f2f2f;
}

.button {
    text-decoration: none;
    color: #ffffff;
}
.ticket {
    margin: 30px;
    color: darkred;
    padding: 20px;
    font-size: 25px;
    background-color: gray;
    border-radius: 5px;
}