body 
{
    margin: 0;
    padding: 0;
}

.div1 
{
    background: #e67575;
    height: 80px;
    position: fixed;
    width: 100%;
    top:0;
}

ul 
{
    padding: 0px;
    margin: 1px;
    list-style: none;
}

li
{
    display: inline-block;
    font-size: 20px;
    padding: 15px;
    margin: 15px;
    background: #00ffff;
}

.a
{
	float:right;
}
.a:hover
{
    background:#e88484;
}

a
{
	text-decoration:none;
	color:#000000;
}

.div2 
{
    margin: 70px 20px;
    padding: 5px;
}

.div2a 
{
    margin: 5px;
}

.div2a1
{
    border: 2px solid #cc1212;
    display: inline-block;
    margin: 20px;
    padding: 40px;
	text-align:center;
}

.p
{
	visibility:hidden;
	text-transform:capitalize;
}

.div2a1:hover p
{
    Visibility: visible;
	display:inline;
}

img
{
    width: 300px;
}

.div3 
{
    background-image: url('../images/5.jpg');
    padding: 70px;
    margin: 50px 0 50px 0;
    height:200px;
	background-attachment:fixed;
	background-repeat:no-repeat;
}

.p1
{
    background:rgb(237, 140, 140);
    padding:27px;
    margin: 50px;
    text-transform:uppercase;
}

.div4 
{
    background-image: url(../images/6.jpeg);
    padding: 40px;
    margin: 50px 70px;
	background-attachment:fixed;
}

.div4a 
{
    background: rgba(215, 103, 103, 0.52);
    padding: 20px;
    margin: 10px;
    direction: rtl;
    color: beige;
}

.div4b 
{
    background:rgba(255, 211, 0, 0.52);
    padding: 20px;
    margin: 10px;
    color:beige;
}

.div5 
{
    text-align: center;
    background: #e67575;
    font-size: 20px;
    padding: 10px 0;
}